Source: ros-kinetic-rbcar-sim
Section: misc
Priority: extra
Maintainer: Carlos Villar <cvillar@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/rbcar_sim
Standards-Version: 3.9.2

Package: ros-kinetic-rbcar-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rbcar-control, ros-kinetic-rbcar-gazebo, ros-kinetic-rbcar-joystick, ros-kinetic-rbcar-robot-control, ros-kinetic-rbcar-sim-bringup
Description: The rbcar_sim package.
 It contains RBCAR simulation packages
